<div class="4u">

	<!-- Sidebar -->
		<section class="box">
			<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/team/phreakazoid_avatar_374x260.jpg" alt="" /></a>
			<ul class="social">
				<li><a class="icon fa-youtube" href="#https://www.youtube.com/channel/UCTz2gwxogNCyDS2frXrqjDg"><span class="label">Youtube</span></a></li>
				<li><a class="icon fa-twitch" href="https://go.twitch.tv/phreakazoidtv"><span class="label">Twitch</span></a></li>
				<li><a class="icon fa-twitter" href="https://twitter.com/phreakazoidtv"><span class="label">Twitter</span></a></li>
				<li><a class="icon fa-steam" href="https://steamcommunity.com/id/phreakazoid_de/"><span class="label">Steam</span></a></li>
			</ul>
			<header>
				<h3>Profil</h3>
			</header>
			short
		</section>

</div>
