<div class="4u">

	<!-- Sidebar -->
		<section class="box">
			<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/team/phreakazoid_avatar_374x260.jpg" alt="" /></a>
			<ul class="social">
				<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
				<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
				<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
				<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
				<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
			</ul>
			<header>
				<h3>Profil</h3>
			</header>
			short
		</section>

</div>
